* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Inter;
}

.header {
    background-color: blue;
    height: 80px;
    display: flex;         
    align-items: center;    
    justify-content: center;
}

.header h3 {
    text-align: center;
    color: white;
    padding-top: 30px;
}

.banner {
    display: flex;          
    justify-content: center;
}

.banner img {
    margin-top: 20px;
}

.sobre-a-pagina {
    display: flex;          
    flex-direction: column; 
}

.sobre-a-pagina p {
    margin-top: 30px;
    margin-left: 30px;
    text-align: left;
    font-size: 30px;
    margin-right: 40px;
}
